#container {
    margin: 0 auto;
    width:1200px;
    height: 800px;
    background-color: orange;
}

img {
    width: 200px;
    height: 400px;
    object-fit: cover;
}

.card {
    background-image: url("https://tinyurl.com/dn3ctwmf");
}