#container {
    margin: 0 auto;
    width:1200px;
    height: 800px;
    background-color: orange;
}

.card-space {
    width: 210px;
    height: 340px;
    perspective: 1000px;
}

.card {
    width: 100%;
    height: 100%;
    border: solid 1px black;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card__side {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front-div {
    width: inherit;
    height: inherit;
}

.back-div {
    width: inherit;
    height: inherit;
    background-image: url("../Images/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
}

.front-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.is-flipped {
    transform: rotateY(180deg);
}


